$webResourceManager.requireResource("confluence.macros.advanced:junit-report-resources")
#macro(image $name)
    <img src="$req.contextPath/images/icons/emoticons/$name" class="junit-status-icon-position">
#end
<div class="junit-report-macro-container table-wrap">
    <table class="aui">
        <tr>
            <th rowspan="1" colspan="3">$i18n.getText("junit.report.test")</th>
            <th rowspan="1">$i18n.getText("junit.report.time")</th>
            <th colspan="2">$i18n.getText("junit.report.messages")</th>
        </tr>
        #if( $report.failuresCount > 0 || $report.errorsCount > 0)
            <tr class="testfailed">
        #else
            <tr class="testpassed">
        #end
            <td class="junit-report-macro-test-name"><strong>
                $report.name
            </strong></td>
            <td class="junit-report-macro-percent-success">$report.successRate%</td>
            <td class="junit-report-macro-status-bar-container">
                #set ($testCase = $report)
                #parse ( "/com/atlassian/confluence/plugins/macros/advanced/templates/junitreport-statusbar.vm" )
            </td>
            <td align="center"><strong>$report.timeAsString</strong></td>
            <td>
                <div class="junit-report-macro-tally">
                    <span>$i18n.getText("junit.report.tests"): <strong>$report.testsCount
                        #if( $report.totalTestsCount > $report.testsCount )
                            ($report.totalTestsCount)
                        #end</strong>
                    </span>
                    <span>$i18n.getText("junit.report.failures"): <strong>$report.failuresCount</strong></span>
                    <span>$i18n.getText("junit.report.exceptions"): <strong>$report.errorsCount</strong></span>
                </div>
            </td>
        </tr>
        #if ($reportDetail != "summary")
            #foreach( $test in $report.testCases )
                #if ($reportDetail=="all")
                    <tr>
                        <td class="junit-report-macro-indent-module">
                            <strong>$test.name</strong>
                        </td>
                        <td class="junit-report-macro-percent-success">$test.successRate%</td>
                        <td class="junit-report-macro-status-bar-container">
                            #set ($testCase = $test)
                            #parse ( "/com/atlassian/confluence/plugins/macros/advanced/templates/junitreport-statusbar.vm" )
                        </td>
                        <td align="center">$report.timeAsString</td>
                        <td>
                            <div class="junit-report-macro-tally">
                                <span>$i18n.getText("junit.report.tests"): <strong>$test.testsCount</strong></span>
                                <span>$i18n.getText("junit.report.failures"): <strong>$test.failuresCount</strong></span>
                                <span>$i18n.getText("junit.report.exceptions"): <strong>$test.errorsCount</strong></span>
                            </div>
                        </td>
                    </tr>
                #else
                    #if( ($reportDetail == "failuresonly" && $test.failure) || $reportDetail != "failuresonly")
                        #if( $test.failure )
                            <tr class="testfailed">
                        #else
                            <tr class="testpassed">
                        #end
                            <td colspan="3" class="junit-report-macro-indent-module">
                                #if( $test.failure )
                                    #image('error.png')
                                #else
                                    #image('check.png')
                                #end
                                $test.name</td>
                            <td align="center">$test.timeAsString</td>
                            <td>
                                #if( $test.failure )
                                    $test.failure.message
                                    #if($debug && $test.failure.content)
                                        <br/>
                                        <pre>$test.failure.content</pre>
                                    #end
                                #end
                                #if( $test.passMessage )
                                    $test.passMessage
                                #end
                                #if( $test.debugMessage )
                                    <br>
                                    <span class="junit-report-macro-debug-text">
                                        <strong>Debug: </strong>$test.debugMessage
                                    </span>
                                #end
                            </td>
                        </tr>
                    #end
                #end
                #if( $reportDetail=="all")
                    #foreach( $unit in $test.testCases )
                        #if( $unit.failure )
                            <tr class="testfailed">
                        #else
                            <tr class="testpassed">
                        #end
                                <td colspan="3" class="junit-report-macro-indent-test">
                                    #if( $unit.failure )
                                        #image('error.png')
                                    #else
                                        #image('check.png')
                                    #end
                                    $unit.name
                                </td>

                                <td align="center">$unit.timeAsString</td>
                                <td>
                                    #if( $unit.failure )
                                        $unit.failure.message
                                        #if($debug && $unit.failure.content)
                                            <br/>
                                            <pre>$unit.failure.content</pre>
                                        #end
                                    #end
                                    #if( $unit.passMessage )
                                        $unit.passMessage
                                    #end
                                    #if( $unit.debugMessage )
                                        <br/>
                                        <span class="junit-report-macro-debug-text">
                                            <strong>Debug: </strong>$unit.debugMessage
                                        </span>
                                    #end
                                </td>
                            </tr>
                    #end
                #end
            #end
        #end

    </table>
</div>
