#* @vtlvariable name="contents" type="java.util.List<com.atlassian.confluence.core.ContentEntityObject>" *#
#* @vtlvariable name="excerpter" type="com.atlassian.confluence.plugins.macros.advanced.xhtml.AdvancedMacrosExcerpter" *#
#* @vtlvariable name="excerptType" type="com.atlassian.confluence.plugins.macros.advanced.xhtml.ExcerptType" *#
#* @vtlvariable name="i18n" type="com.atlassian.confluence.util.i18n.I18NBean" *#
#* @vtlvariable name="limitLabelLinksToSpace" type="boolean" *#
#* @vtlvariable name="req" type="javax.servlet.http.HttpServletRequest" *#
#* @vtlvariable name="showLabels" type="boolean" *#
#* @vtlvariable name="showSpace" type="boolean" *#
#* @vtlvariable name="staticResourceUrlPrefix" type="java.lang.String" *#
#* @vtlvariable name="title" type="java.lang.String" *#
#* @vtlvariable name="stringUtils" type="org.apache.commons.lang.StringUtils" *#
#if ($title)
<h3>$title</h3>
#end

#if ($contents.size() > 0)
<ul class="content-by-label">
    #foreach ($content in $contents)
    <li>
        <div>
            #contentIconWithLinkPrefix($content $staticResourceUrlPrefix)
        </div>

        <div class="details">
            #contentHrefWithLinkPrefix($content $req.contextPath)
            #if ($showSpace) #contentOther($content) #end

            #set ($excerptHtml = $excerpter.createExcerpt($content, $excerptType) )
            #if ($stringUtils.isNotBlank($excerptHtml))
                <span class="smalltext">&mdash; $excerptHtml</span>
            #end

            #if ($showLabels)
            <div class="label-details">
                #if( $limitLabelLinksToSpace )
                    #set( $spaceKey = $content.getSpaceKey() )
                #else
                    #set( $spaceKey = "" )
                #end

                #set ($labels = $content.getVisibleLabels($action.authenticatedUser))
                #parse("/com/atlassian/confluence/plugins/labels/components/labels-list.vm")
            </div>
            #end
        </div>
    </li>
    #end
</ul>
#else
    <div class="content-by-label macro-blank-experience">
        <strong class="content-label-header">$i18n.getText('contentbylabel.emptymacro.label')</strong>
        <p>$i18n.getText('contentbylabel.emptymacro.content')</p>
    </div>
#end
