#* @vtlvariable name="thumbnails" type="com.atlassian.confluence.pages.thumbnail.Thumbnails" *#
#* @vtlvariable name="thumb" type="com.atlassian.confluence.pages.thumbnail.ThumbnailInfo" *#
## - $galleryTitle
#requireResource("confluence.web.resources:jquery")
#requireResource("confluence.web.resources:ajs")
#requireResource("confluence.macros.advanced:gallery-resources")

<div class="gallery">
        <table>
#if ($galleryTitle)
            <tr>
                <th colspan="$thumbnails.columns">
                    <h4 class="gallery-title">$generalUtil.htmlEncode($galleryTitle)</h4>
                </th>
            </tr>
#end

#if ($thumbnails.size > 0)
    #foreach ($row in $thumbnails.rows)
        ## draw the images first
            <tr>
        #foreach ($thumb in $row)
            #if ($thumb != "BLANK")
                #set ($dataAttributes = "data-linked-resource-default-alias='" + $thumb.attachment.fileName + "' data-linked-resource-id='" + $thumb.attachment.id + "' data-linked-resource-container-id='" + $thumb.attachment.getContent().getIdAsString() + "'")
                <td class="gallery-image" #if($thumbnails.maxWidth)style="width: ${thumbnails.maxWidth}px"#end>
                    $thumb.getThumbnailImageHtml($dataAttributes)
                </td>
            #else
                <td></td>
            #end
        #end
            </tr>
        ## now draw the comments
            <tr>
        #foreach ($thumb in $row)
            #if ($thumb != "BLANK" && $thumb.attachment.comment)
                <td #if($thumbnails.maxWidth)style="width: ${thumbnails.maxWidth}px"#end>
                    <div class="gallery-caption">$!generalUtil.htmlEncode($!thumb.attachment.comment)</div>
                </td>
            #else
                <td></td>
            #end
        #end
            </tr>
    #end ##foreach ($row in $thumbnails.rows)
#else ## !($thumbnails.size > 0)
            <tr><td colspan="$thumbnails.columns">$action.getText("gallery.no-images-attached")</td></tr>
#end
        </table>
</div>