/* Style the on-page gallery */

.gallery {
    margin: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.gallery table {
    border-collapse: collapse;
}

.gallery th, .gallery td {
    text-align: center;
}

.gallery td {
    padding: 0; /* don't pad empty cells */
    vertical-align: top;
}

.gallery .gallery-image {
    line-height: 0; /* overrides Confluence style, needed to avoid extra space below images */    
}

.gallery .gallery-image a.gallery-link {
    display: block;
}

.gallery .gallery-image img {
    margin: 5px;
}

.gallery .gallery-caption {
    text-align: center;
}
