<tr bgcolor=ffffff>
    <td>
        {include:Home}<br/><br/>
        {include:FOO:Home}<br/><br/>
        {include:spaceKey=FOO|pageTitle=Home}
    </td>
    <td>
        $action.getText('include.desc')
        <p>
            $action.getText('include.user.perms')
        </p>
    </td>
</tr>
