<tr bgcolor=ffffff>
    <td>
        {listlabels:spaceKey=@all}
        <br/>
    </td>

    <td>
        <p>
            $action.getText('listlabels.desc')
            <ul>
                <li>
                    spaceKey - $action.getText('macros.listlabels.param.spacekey')
                </li>
            </ul>
        </p>
        <p>
        <center>
            <table width="95%" cellspacing="10">
                <tr>
                    <td valign="top" align="left" width="33%" bgcolor="#f0f0f0" style="padding:5px">
                        <div class="navBackgroundBox" style="float:left; padding:7px; margin:2px 4px 1px 2px; ">A-Z</div>
                        documentation, staff, events, books, music
                    </td>
                </tr>
            </table>
        </center>
        </p>
    </td>
</tr>
