<tr bgcolor=ffffff>
    <td>
     	 {popular-labels}
        <br/>
        <br/>
         {popular-labels:style=heatmap|count=15}
    </td>
    <td>
        <p>
            $action.getText('popularlabels.desc')
            <ul>
                <li>
                    count - $action.getText('popularlabels.count.desc')
                </li>
                <li>
                    spaceKey - $action.getText('popularlabels.spacekey.desc')
                </li>
                <li>
                    style - $action.getText('popularlabels.style.desc')
                </li>

            </ul>
        </p>

    </td>
</tr>