## Iterate through and create Label links for each of the labels
#if ($relatedLabels.size() > 0)
    <ul class="relatedlabels-list">
        #foreach ($label in $relatedLabels)
            <li class="relatedlabel">#labelLink($label)</li>
        #end
    </ul>
## However, if there are no labels, display a message
#else
    <span class="relatedlabels-none">$action.getText("macros.relatedlabels.no.labels")</span>
#end