<tr bgcolor=ffffff>
    <td>
     	 {related-labels}
        <br/>
        <br/>
         {related-labels:labels=labelone, labeltwo}
    </td>

    <td>
        <p>
            $action.getText('relatedlabels.desc')
            <ul>
                <li>
                    labels - $action.getText('relatedlabels.labels.desc')
                </li>

            </ul>
        </p>

    </td>
</tr>
